// !random image section starts herer
.branding {
    @include flexcenter();
    background: url("../images/someimgnew.jpg") no-repeat center center/cover;
    min-height: 250px;
    text-align: center;

    align-items: center;
    overflow: hidden;
    flex-wrap: wrap;
  
    p {
      color: white;
      font-family: $font;
      font-size: 50px;
      letter-spacing: 0.9px;
      padding: 4px;
      border-radius: 5px;
      background: rgba(245, 222, 179, 0.404);
    }
  }
  // !random image section ends
  @media (max-width: 768px) {


  .branding {
    min-height: 180px;

    p {
      font-size: 20px;
      margin: 0 4px;
      color: rgb(0, 0, 0);
      font-family: "Merienda", cursive;

      font-weight: bold;
      letter-spacing: 1px;
      background-color: rgba(248, 248, 255, 0.733);
    }
  }
}